# Copy this file to .env.local and fill in with real values
# NEVER commit .env.local to git

MONGODB_URI=mongodb+srv://username:password@cluster.mongodb.net/?appName=app-name
MONGODB_DB_NAME=database-name

JWT_SECRET=your_secret_key_here
JWT_ALGORITHM=HS256
JWT_EXPIRE_MINUTES=10080

TAVILY_API_KEY=your_tavily_api_key
GROQ_API_KEY=your_groq_api_key

# NextAuth
NEXTAUTH_SECRET=your_nextauth_secret
NEXTAUTH_URL=http://localhost:3000

# Google OAuth
GOOGLE_CLIENT_ID=your_google_client_id
GOOGLE_CLIENT_SECRET=your_google_client_secret

# Resend (email sending)
RESEND_API_KEY=your_resend_api_key
RESEND_FROM_EMAIL=your_email@domain.com

OTP_SALT=your_otp_salt_here
