# .gitignore
.env
.env.local
frontend/.env.local
__pycache__/
*.pyc

backend/data/
*.pdf
*.docx
node_modules/
.DS_Store
frontend/node_modules/
backend/node_modules/
frontend/.next/
backend/__pycache__/